# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
CS-1101-01/
Java-on-VSC/
Not-mine/
package-lock.json
package.json
portfoliopro/
public/favicon.ico
public/index.html
public/manifest.json
public/robots.txt
Python-on-VSC/
react-on-vsc/package-lock.json
react-on-vsc/package.json
react-on-vsc/public/favicon.ico
react-on-vsc/public/index.html
react-on-vsc/public/logo192.png
react-on-vsc/public/logo512.png
react-on-vsc/public/manifest.json
react-on-vsc/public/robots.txt
react-on-vsc/README.md
react-on-vsc/src/App.css
react-on-vsc/src/App.js
react-on-vsc/src/App.test.js
react-on-vsc/src/index.css
react-on-vsc/src/index.js
react-on-vsc/src/logo.svg
react-on-vsc/src/reportWebVitals.js
react-on-vsc/src/setupTests.js
README.md
redditReactGroupPlayground/
src/App.css
src/App.test.js
src/Apps/AppExercise101.js
src/Apps/AppExercise106.js
src/Apps/AppExercise112.js
src/Apps/AppExercise113.js
src/Apps/AppExercise114.js
src/Apps/AppExercise201.js
src/Apps/AppExercise206.js
src/components/Button.js
src/components/Content.js
src/components/Course.js
src/components/Header.js
src/components/Part.js
src/components/StatisticLine.js
src/components/Total.js
src/index.css
src/index.js
src/logo.svg
src/reportWebVitals.js
src/setupTests.js
src/unicafe/Statistics.js
CS-1101-01/
Java-on-VSC/
Not-mine/
package.json
portfoliopro/
public/favicon.ico
public/index.html
public/manifest.json
public/robots.txt
Python-on-VSC/
react-on-vsc/public/logo192.png
react-on-vsc/public/logo512.png
react-on-vsc/src/App.js
README.md
redditReactGroupPlayground/
src/App.css
src/App.test.js
src/Apps/AppExercise101.js
src/Apps/AppExercise106.js
src/Apps/AppExercise112.js
src/Apps/AppExercise113.js
src/Apps/AppExercise114.js
src/Apps/AppExercise201.js
src/Apps/AppExercise206.js
src/components/Button.js
src/components/Content.js
src/components/Course.js
src/components/Header.js
src/components/Part.js
src/components/StatisticLine.js
src/components/Total.js
src/index.css
src/logo.svg
src/reportWebVitals.js
src/setupTests.js
src/unicafe/Statistics.js
